.main-container {
    display: flex;
    
    .side-nav {
      width: 300px;
      min-width: 230px;
      min-height: calc(100vh - 70px);
      background-color: #113c60;
      color: #fff;
      box-shadow: 5px 5px 5px #939393;
      @media only screen and (max-width: 1300px) {
        width: 100px;
        min-width: 100px;
      }
    }

  }

  .header {
    height: 70px;
    padding: 20px 50px;
    background-color: rgb(1, 38, 69);
    color: #fff;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 5px #939393;
    .logo {
      font-weight: bold;
      font-size: 20px;
    }
    .user {
      display: flex;
      align-items: center;
      font-weight: bold;
      
      .user-image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #fff;
        background-color: rgb(11, 107, 185);
        margin-left: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
      }
    }
  }

  .nav-items {
    padding-top: 40px;
    .nav-item {
      padding: 25px 50px;
      cursor: pointer;
      @media only screen and (max-width: 1300px) {
        padding: 25px 40px;
      }
      &:hover {
        background-color: rgb(1, 38, 69);
      }
      fa-icon {
        margin-right: 50px;
        font-size: 22px;
      }
      span {
        display: inline;
        @media only screen and (max-width: 1300px) {
          display: none;
        }
      }
    }
  }

  .profile {  
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
 
  
  .profile h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .profile p {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .profile p:last-child {
    margin-bottom: 0;
  }

  .main {
    padding: 30px;
    width:2500px;
    justify-content:center;
  }

  html,
body {
  height: 100%;
}
body {
  
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100vh;
  background: #e2e2e2;
}
.app-header {
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}
.login-wrapper {
  height: 100%;
}
.positronx {
  text-decoration: none;
  color: #ffffff;
}
.box {
    max-width: 800px;
    margin-left: 400px;
    margin-top: 100px;
    justify-content: center;
    display: flex;
}
.btn{
    margin-left: 10px;
}


.login-wrapper .example-form {
  min-width: 100%;
  max-width: 300px;
  width: 100%;
}
.login-wrapper .example-full-width,
.login-wrapper .btn-block {
  width: 100%;
}
.login-wrapper mat-card-header {
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 700;
}
.login-wrapper mat-card-header mat-card-title {
  font-size: 30px;
  margin: 0;
}
.login-wrapper .mat-card {
  padding: 40px 70px 50px;
}
.login-wrapper .mat-stroked-button {
  border: 1px solid currentColor;
  line-height: 54px;
  background: #FFF7FA;
}
.login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.8375em 0;
}