<div class="container">
    <div class="header">
        
            <div class="logo">User Profile</div>
            <div class="user">
              <div class="user-name"></div>
              
            </div>
          </div>
    </div>
    <div class="main-container">
      <div class="side-nav">
        <div class="nav-items">
          <div class="nav-item">
    
            <span routerLink="/dashboard">Profile </span>
          </div>
          <div class="nav-item">
            
            <span routerLink="/viewpatient">View Patient</span>
          </div>
          <div class="nav-item">
            
            <span routerLink="/addpatient">Add Patient</span>
          </div>
          <div class="nav-item">
            
            <span routerLink="/updatepatient">Update Patient</span>
          </div>
          <div class="nav-item">
            
            <span routerLink="/logout">Log out</span>
          </div>
</div>
      </div>
      <div class="main">
        
        <div class="profile">
          
          <h1>{{data.name}}</h1>
          <p>Email: {{data.email}}</p>
          <p>Address: {{data.address}}</p>
          <p>Contact No.: {{data.phone}}</p>
        </div>
        <button mat-raised-button color="primary" class="btn" routerLink="/updateprofile">Update Profile</button>
      </div>
    </div>

