
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
      <p></p>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form">
  <mat-form-field class="example-full-width" >
  <mat-label>User Name</mat-label>
  <input matInput placeholder="Enter your name" name="username"
  [(ngModel)] ="email">
  </mat-form-field>
  <mat-form-field class="example-full-width" >
  <mat-label>Password</mat-label>
  <input matInput placeholder="Enter your password" value="" name="password" type="password" [(ngModel)]= "password">
  </mat-form-field>
  <div>
    <button mat-raised-button color="primary" (click)="login()">Login</button>
    <button mat-raised-button color="primary" class="btn" routerLink="/register">Register</button>
  </div>
  
 
  </form>
    </mat-card-content>
    
  </mat-card>

</div>