


.main-container {
    display: flex;
    
    .side-nav {
      width: 300px;
      min-width: 230px;
      min-height: calc(100vh - 70px);
      background-color: #113c60;
      color: #fff;
      box-shadow: 5px 5px 5px #939393;
      @media only screen and (max-width: 1300px) {
        width: 100px;
        min-width: 100px;
      }
    }

  }

  .header {
    height: 70px;
    padding: 20px 50px;
    background-color: rgb(1, 38, 69);
    color: #fff;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 5px #939393;
    .logo {
      font-weight: bold;
      font-size: 20px;
    }
    .user {
      display: flex;
      align-items: center;
      font-weight: bold;
      
      .user-image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #fff;
        background-color: rgb(11, 107, 185);
        margin-left: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
      }
    }
  }

  .nav-items {
    padding-top: 40px;
    .nav-item {
      padding: 25px 50px;
      cursor: pointer;
      @media only screen and (max-width: 1300px) {
        padding: 25px 40px;
      }
      &:hover {
        background-color: rgb(1, 38, 69);
      }
      fa-icon {
        margin-right: 50px;
        font-size: 22px;
      }
      span {
        display: inline;
        @media only screen and (max-width: 1300px) {
          display: none;
        }
      }
    }
  }

  .profile {  
    display: flex;
    flex-direction: column;
    
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
 
  
  .profile h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .profile p {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .profile p:last-child {
    margin-bottom: 0;
  }

  .main {
    padding: 30px;
    width:2500px;
    
  }

  .input{
    width: 200px;
    padding: 10px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  td {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  @media screen and (max-width: 768px) {
    /* Responsive styles */
    table {
      font-size: 14px;
    }
    th, td {
      display: block;
      width: 100%;
    }
    th {
      text-align: center;
      background-color: #ddd;
    }
    td {
      text-align: center;
      border: none;
      position: relative;
      padding-left: 50%;
    }
    td:before {
      position: absolute;
      left: 6px;
      content: attr(data-label);
      text-align: left;
      font-weight: bold;
    }
  }

  


  
  
  
  
  
  
  